@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'base/_variables';
@import 'base/mixins';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    &:hover {
        color:#000;
    }
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';