@import 'base/mixins';
@import 'base/_variables';
@import 'libs/fonts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
    font-weight: 700;
    font-size: 50px;
}

.container {
    width: 1140px;
}