.btn {
    height: 45px;
    background-color: $mainColor;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: 0.2s all;
    padding: 12px 25px;
    font-weight: 700;
    &:hover {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.015);
    }
}