@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .skills {
        &__ratings {
            justify-content: center;
        }
    }
    .portfolio {
        &__wrapper {
            .horizontal, .vertical{
                grid-row: unset;
                grid-column: unset;
            }
        }
    } 
}


@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 0;
        } 
    }
    .skills {
        &__wrapper {
            margin-top: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-auto-rows: 1fr;
        }
        &__ratings {
            justify-content: center;
            grid-template: repeat(2,70px)/repeat(2, 1fr);
            margin-top: 40px;
        }
    } 
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 60px;
        &__wrapper {
            margin-top: 40px;
            column-gap: 0;
            grid-template-columns: 1fr;
            row-gap: 40px;
        } 
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .hamburger {
        right: 20px;
    }

    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
        &__social{
            &__link {
                padding: 0 5px;
            }
        }
        
    }
    .promo {
        background: url('../img/bg/firstBG.png') no-repeat 61% / cover;
        &__btn {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            column-gap: 0;
        } 
    }

    .skills {
        padding-top: 60px;
        &__wrapper {
            margin-top: 20px;
            grid-template: 270px / 270px;
            grid-auto-rows: 270px;
        }
        &__ratings {
            justify-content: center;
            grid-template: repeat(2,70px) / 1fr;
            grid-auto-rows: 70px;
            margin-top: 40px;
        }
    }  
}

.divider {
    margin: 15px auto 0 auto;
}